# Add any directories, files, or patterns you don't want to be tracked by version control

Results/*
!/Results/PredSimOCP
Results/PredSimOCP/*
!/Results/PredSimOCP/ResultsPredSim.mat
!/Results/PredSimOCP/README.md